  <div class="col-md-5">
    <%  if @quiz_count %>
    <p>これまでのあなたの投稿数：<%=@quiz_count%></p>
    <% end %>
    <%=@answer%>
    <%= form_with(model: @quiz, local: true) do |f| %>
    <%= f.label:question%>
    <%= f.text_field:question, class: 'form_control filed' %>
    
    <%= f.label:choice_1%>
    <%= f.text_field:choice_1, class: 'form_control filed' %>
    
    <%= f.label:choice_2%>
    <%= f.text_field:choice_2, class: 'form_control filed' %>
    
    <%= f.label:choice_3%>
    <%= f.text_field:choice_3, class: 'form_control filed' %>
    
    <%= f.label:choice_4%>
    <%= f.text_field:choice_4, class: 'form_control filed' %>
    
    <%= f.select :answer, {'1': 1, '2': 2,'3':3,'4':4}, { include_blank: '解答を選択してください'}, { class: 'form-control' , required: true } %>
    
     <%= f.select :genre, {'文の種類・文の組み立て': 1, '時制': 2,'助動詞':3,'受動態':4,'不定詞': 5, '動名詞': 6,'分詞':7,'比較':8,'関係詞': 9, '仮定法': 10,'話法':11,'接続詞':12,'前置詞': 13, '形容詞・副詞': 14,'名詞・冠詞・代名詞':15,'その他':16}, { include_blank: '範囲を選択してください'}, { class: 'form-control' , required: true } %>
    
    <%= f.submit "問題を作成", class: "btn btn-primary" %>
    <%end%>
  </div>