  <div class="col-md-7">
    <% @quizzes.each do |f|%>
    <p id="_question">空欄に入る適切な語句を選択肢から選びなさい。<br>Question: <%= f.question %></p>
    <!--問題を入力-->
    <ul id="choices">
      <li onclick="goAnswer(1, <%= f.id %>)"><%= f.choice_1 %></li>
      <li onclick="goAnswer(2, <%= f.id %>)"><%= f.choice_2 %></li>
      <li onclick="goAnswer(3, <%= f.id %>)"><%= f.choice_3 %></li>
      <li onclick="goAnswer(4, <%= f.id %>)"><%= f.choice_4 %></li>
      <li class="answer<%= f.id %>"><%= hidden_field_tag :answer, f.answer, id:f.id  %></li>
    </ul>
    <% end %>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">

function goAnswer(answerNo, answerID) {
  if (answerNo == $(`.answer${answerID}`).find(`#${answerID}`).val()) {
    alert("正解");
  } else {
    alert("不正解");
  }
}

</script>