  <div class="col-md-5">
　<%= search_form_for @q, url:list_path do |f| %>

　<%= f.radio_button :genre_eq, '', {:checked => true} %>指定なし
  <%= f.radio_button :genre_eq, 1 %>文の種類・文の組み立て
  <%= f.radio_button :genre_eq, 2 %>時制
  <%= f.radio_button :genre_eq, 3 %>助動詞
  <%= f.radio_button :genre_eq, 4 %>不定詞
  <%= f.radio_button :genre_eq, 5 %>動名詞
　<%= f.radio_button :genre_eq, 6 %>動名詞
  <%= f.radio_button :genre_eq, 7 %>分詞
  <%= f.radio_button :genre_eq, 8 %>比較
  <%= f.radio_button :genre_eq, 9 %>関係詞
  <%= f.radio_button :genre_eq, 10 %>仮定法
  <%= f.radio_button :genre_eq, 11 %>話法
  <%= f.radio_button :genre_eq, 12 %>接続詞
  <%= f.radio_button :genre_eq, 13 %>前置詞
  <%= f.radio_button :genre_eq, 14 %>形容詞・副詞
  <%= f.radio_button :genre_eq, 15 %>名詞・冠詞・代名詞
  <%= f.radio_button :genre_eq, 16 %>その他
  <%= f.submit "検索" %>
  <% end %>
  </div>
  
    <div class="col-md-7">
    <% @quizzes.each do |f|%>
     <ul id="choices">
       
      <li onclick="goAnswer(1, <%= f.answer %>)"><%= f.choice_1 %></li>
      <li onclick="goAnswer(2, <%= f.answer %>)"><%= f.choice_2 %></li>
      <li onclick="goAnswer(3, <%= f.answer %>)"><%= f.choice_3 %></li>
      <li onclick="goAnswer(4, <%= f.answer %>)"><%= f.choice_4 %></li>
      by <%=f.user.name%> 
    </ul>
    <% end %>
    </div>
    
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
function goAnswer(selectAnswerNo, correctAnswerNo) {
    if (selectAnswerNo == correctAnswerNo) {
       swal("正解です！", "他の問題もチャレンジしてみましょう！", "success");
        $.ajax({
            type: "POST",
            beforeSend: function(xhr) {
            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
          },
        
            url: "/rankings", // 
            dataType: "json",
            data: {
                "correct": 1,
            },
            success: function (data) {
                alert("success");
            },
            error: function (data) {
                alert("error");
            }
        });
        }
        else {
           swal("不正解です！", "もう一度チャレンジしてみましょう！", "error");
          };
    }
</script>